<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Portfolio page</title>
</head>
<body>
<div>
    {{> header}}
</div>
<div>
    Test test test test
    {{> testPartials}}
</div>
<div>
    {{> footer}}
</div>

</body>
</html>