body {
    background: #f8f8f8;
    font-family: SFProText, sans-serif;
}

.main-heading {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #0c3038;
    margin-top: 24px;
}

.easy-way {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin-top: 32px;
}

.input-field {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-field > div {
    margin-top: 8px;
}

.input-field > div > input {
    min-width: 200px;
    padding: 15px 0 14px 20px;
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #418ef7;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #404040;
    outline: none;
}

.input-field > div > button {
    border-radius: 28px;
    background-color: #418ef7;
    border: solid 1px #326ec2;
    height: 49px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}

.input-field > span {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #aab2b5;
    flex-basis: 100%;
}

.download-button {
    margin-top: 72px;
}

.download-button > button {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    padding: 20px 64px;
    outline: none;
    cursor: pointer;
    border-radius: 28px;
    background-color: #418ef7;
    border: none;
}

.tutorial {
    margin-top: 81px;
}


/* common classes */
.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}