body {
  background: #f8f8f8;
  font-family: SFProText, sans-serif;
  margin: 0;
  padding: 0;
}

.main-heading {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  color: #0c3038;
  margin-top: 24px;
}

.easy-way {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin-top: 32px;
}

.input-field {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  > div {
    margin-top: 8px;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    > input {
      max-width: 336px;
      width: 100%;
      padding: 15px 0 14px 20px;
      border-radius: 28px;
      background-color: #ffffff;
      border: solid 1px #418ef7;
      font-size: 15px;
      font-weight: 500;
      text-align: left;
      color: #404040;
      outline: none;
      margin: 0;
    }
  }
  > span {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #aab2b5;
    flex-basis: 100%;
  }
}

.outer-preview-wrapper {
  margin: 20px auto 0;
  min-height: 48px;
  max-width: 1050px;
}

.tutorial {
  margin-top: 81px;
  background: #ffffff;
  padding-left: 7%;
}

.instagram-section {
  flex-grow: 2;
}

.how-to {
  flex-grow: 3;
}

.logo {
  margin-bottom: 10px;
  > p {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  div {
    > img {
      height: 135px;
      width: 137px;
    }
  }
}

.copy {
  > div {
    > p {
      font-size: 20px;
      font-weight: 900;
      text-align: center;
      color: #000000;
    }
  }
}

.counter {
  width: 32px;
  height: 32px;
  background-color: #418ef7;
  border-radius: 50%;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  position: absolute;
}

.jpeg {
  > div {
    > img {
      height: 62px;
      width: 47px;
    }
  }
}

.logo {
  > div {
    > .counter {
      right: -45px;
    }
  }
}

.copy {
  > div {
    > .counter {
      right: -64px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.jpeg {
  > div {
    > .counter {
      right: -90px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  margin-top: 20px;
  margin-bottom: 20px;
}

.how-to {
  > h1 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #000000;
    margin-left: 24px;
  }
  > ul {
    padding-left: 24px;
    > li {
      list-style: none;
      margin: 30px 0;
      &:before {
        content: '';
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: inline-block;
        background: #418ef7;
        margin-right: 16px;
        text-align: center;
        line-height: 32px;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
      }
      &:nth-child(1) {
        margin-top: 38px;
        &:before {
          content: '1';
        }
      }
      &:nth-child(2):before {
        content: '2';
      }
      &:nth-child(3):before {
        content: '3';
      }
    }
  }
}

.arrow-down {
  > img {
    display: block;
    margin: 0 auto;
  }
}

.posts-preview-block {
  cursor: pointer;
  margin: 20px;
  text-align: center;
  flex-basis: calc(33% - 40px);
  max-width: 336px;
  max-height: 336px;
  flex-grow: 1;
  > a {
    > .video {
      height: 100%;
      width: 100%;
    }
  }
  > a {
    height: 100%;
    width: 100%;
  }

}

.image-preview {
  width: 100%;
  height: 100%;
}

.download {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  border-radius: 19.5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #000000;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
  padding: 10px;
  width: 60%;
  text-align: center;
}

.get-button {
  margin-top: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #418ef7;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 61px;
}

.user-preview-block {
  max-width: 336px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 6px;
  > div {
    margin-left: 8px;
    > p {
      margin: 4px;
      font-size: 14px;
      font-weight: 500;
      color: #0c3038;
      &:first-child {
        color: #000000;
      }
    }
  }
  > img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    flex: 0 0 auto;
  }
}

.content-wrapper {
  width: 100%;
  margin-top: 44px;
}

.stories-preview {
  width: 100%;
  margin: 0 10px;
  > .stories-list {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  > h5 {
    font-weight: 500;
    color: #0c3038;
    margin: 0 0 8px 0;
  }
}

.stories-list {
  > div {
    height: 220px;
    width: 125px;
    margin: 0 10px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    flex: 0 0 auto;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      > .story-hover {
        display: block;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    > img {
      height: auto;
      width: 100%;
    }
  }
}

.story-hover {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  border-radius: 8px;
  > p {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.posts-preview-wrapper {
  margin-left: -10px;
  margin-right: -10px;
}

.load-more-btn {
  padding: 8px 38px;
  text-transform: inherit;
}

/* common classes */

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.position-relative {
  position: relative;
}

.loader {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  margin: 0 auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1em solid rgba(255, 255, 255, 0.79);
  border-right: 1em solid rgba(255, 255, 255, 0.79);
  border-bottom: 1em solid rgba(255, 255, 255, 0.79);
  border-left: 1em solid #418ef7;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

[v-cloak] {
  display: none;
}

.video-icon {
  background: url("../img/ic-cam.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin: 10px;
  right: 0;
  top: 0;
  position: absolute;
}

.sorry-message {
  text-align: center;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .hide-md {
    display: none;
  }
  .posts-preview-block {
    margin: 3px;
    flex-basis: calc(33% - 6px);
  }
  .posts-preview-wrapper {
    margin-left: 7px;
    margin-right: 7px;
  }
  .tutorial {
    padding-left: 0;
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  .tutorial {
    padding-left: 0;
    flex-direction: row;
  }
}
