body {
    background: #f8f8f8;
    font-family: SFProText, sans-serif;
    margin: 0;
    padding: 0;
}

.main-heading {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #0c3038;
    margin-top: 24px;
}

.easy-way {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin-top: 32px;
}

.input-field {
    margin-top: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-field > div {
    margin-top: 8px;
}

.input-field > div > input {
    min-width: 200px;
    padding: 15px 0 14px 20px;
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #418ef7;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #404040;
    outline: none;
    margin: 0;
}

.input-field > div > button {
    border-radius: 28px;
    background-color: #418ef7;
    border: solid 1px #326ec2;
    height: 49px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    /*margin: 0;*/
}

.input-field > span {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #aab2b5;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.download-button {
    margin-top: 72px;
}

.download-button > button {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    padding: 20px 64px;
    outline: none;
    cursor: pointer;
    border-radius: 28px;
    background-color: #418ef7;
    border: none;
}

.tutorial {
    margin-top: 81px;
    background: #ffffff;
    padding-left: 7%;
}

.instagram-section {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.how-to {
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
}

.logo {
    margin-bottom: 10px;
}

.logo > p {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.logo > div > img {
    height: 135px;
    width: 137px;
}

.copy > div > p {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #000000;
}

.counter {
    width: 32px;
    height: 32px;
    background-color: #418ef7;
    border-radius: 50%;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    position: absolute;
}

.jpeg > div > img {
    height: 62px;
    width: 47px;
}

.logo > div > .counter {
    right: -45px;
}

.copy > div > .counter {
    right: -64px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.jpeg > div > .counter {
    right: -90px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.jpeg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.how-to > h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #000000;
    margin-left: 24px;
}

.how-to > ul {
    padding-left: 24px;
}

.how-to > ul > li {
    list-style: none;
    margin: 30px 0;
}

.how-to > ul > li:before {
    content: '';
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: inline-block;
    background: #418ef7;
    margin-right: 16px;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.how-to > ul > li:nth-child(1) {
    margin-top: 38px;
}

.how-to > ul > li:nth-child(1):before {
    content: '1';
}

.how-to > ul > li:nth-child(2):before {
    content: '2';
}

.how-to > ul > li:nth-child(3):before {
    content: '3';
}

.arrow-down > img {
    display: block;
    margin: 0 auto;
}

/* common classes */
.text-center {
    text-align: center;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.position-relative {
    position: relative;
}

@media (max-width: 768px) {
    .download-button > button {
        padding: 15px;
    }

    .tutorial {
        padding-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}